<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <forms>
        <form name="shoppingfeed_feed_form" class="ShoppingFeed\Form\FeedForm" />
        <form name="shoppingfeed_mapping_delivery_form" class="ShoppingFeed\Form\MappingDeliveryForm" />
    </forms>

    <commands>
        <command class="ShoppingFeed\Command\GenerateFeedCommand" />
        <command class="ShoppingFeed\Command\SynchronizeOrderCommand" />
    </commands>

    <hooks>
        <hook id="shoppingfeed.module.config.hook" class="ShoppingFeed\Hook\HookManager">
            <tag name="hook.event_listener" type="backoffice" event="hook_home_stats" method="renderLogs"/>
            <argument type="service" id="ShoppingFeed\Service\LogService" />
            <tag name="hook.event_listener" event="main.head-css" type="back" />
            <tag name="hook.event_listener" event="home.js" type="back" method="renderJs" />
            <tag name="hook.event_listener" event="product.combinations-row" type="back" method="onPseMarketPlaceEdit" />
            <tag name="hook.event_listener" event="product.modification.form-right.top" type="back" method="onProductEdit" />
            <tag name="hook.event_listener" event="order-edit.top" type="back" method="onOrderEdit" />
        </hook>
    </hooks>
</config>
