<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>ShoppingFeed\ShoppingFeed</fullnamespace>
    <descriptive locale="en_US">
        <title>Send your catalog to Amazon, Metro,...</title>
        <description>Send your catalog to different channel like Amazon, Metro, C-Discount,...</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Envoie votre catalogue à Amazon, Metro,...</title>
        <description>Permet d'envoyer votre catalogue sur différents flux comme Amazon, Metro, C-Discount,...</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.0</version>
    <authors>
        <author>
            <name>Jules Cournut</name>
            <email>jcournut@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.5.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
